.home {
  max-height: 100lvh;
  margin: 130px 20px 0;
  .mainTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    // padding: 62px 0 108px 0;
    // margin: 130px 20px 20px;
    .mainTitle {
      flex: 2;
      font-size: 90px;
      line-height: 110px;
      .orangeTxt {
        position: relative;
        color: rgb(235, 91, 41);
        &::after {
          content: url("../../../public/img/icons/starsMainTitle.svg");
          position: absolute;
          bottom: 45px;
          right: -25px;
        }
      }
    }
    .mainDescr {
      padding: 20px 0 20px 40px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .descrTxt {
        font-size: 17px;
        line-height: 28px;
      }
    }
  }
}
